.about-us {
  @include main-padding;
  padding-top: 28px;
}

.about-us__header {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  @include list-reset;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.about-us__item {
  position: relative;
  padding-top: 61px;
  padding-bottom: 22px;
  width: 180px;

  &--like,
  &--style,
  &--box {
    width: 200px;
  }

  &--love {
    width: 210px;
  }

  &--native {
    width: 255px;
  }
}

.about-us__item--materials svg {
  left: 8px;
  top: 8px;
}

.about-us__item--style svg {
  left: 0;
}

.about-us__item-img {
  position: absolute;
  top: 11px;
  left: 6px;
  fill: $light-green;

  &--rocket {
    left: -3px;
  }
}

@media (min-width: 768px) {
  .about-us {
    @include tablet-padding;
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .about-us__header {
    margin-bottom: 38px;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    padding-top: 65px;
    padding-bottom: 45px;
    width: 50%;

    &--materials {
      order: 0;
    }

    &--love {
      order: 1;
    }

    &--style {
      order: 2;
    }

    &--native {
      order: 3;
    }

    &--like {
      order: 4;
    }

    &--box {
      order: 5;
    }
  }

  .about-us__item-img {
    &--rocket {
      left: -5px;
      top: 15px;
    }
  }

  .about-us__item--box svg {
    top: 15px;
    left: 2px;
  }

  .about-us__item--like svg {
    top: 19px;
    left: 8px;
  }
}

@media (min-width: 1150px) {
  .about-us {
    @include tablet-padding;
    padding-left: 223px;
    padding-bottom: 85px;
  }

  .about-us__header {
    margin: 0;
    padding-top: 13px;
    padding-left: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    width: 700px;
  }

  .about-us__item {
    padding-top: 104px;
    padding-bottom: 5px;
  }

  .about-us__item-img {
    position: absolute;
    top: 50px;
    left: 3px;

    &--rocket {
      left: -5px;
      top: 53px;
    }
  }

  .about-us__item--materials svg {
    top: 47px;
  }

  .about-us__item--box svg {
    top: 52px;
    left: 4px;
  }

  .about-us__item--like svg {
    top: 57px;
    left: 8px;
  }
}
