.contacts {
  @include main-padding;
  line-height: 30px;
  position: relative;
  padding-top: 35px;
  padding-bottom: 40px;
}

.contacts__map picture {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
}

.contacts__map iframe {
  width: 320px;
  height: 457px;
  position: relative;
  z-index: 2;
}

.contacts__header {
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
}

.contacts__wrapper {
  margin-bottom: 532px;
}

.contacts__img {
  width: 320px;
  height: 457px;
}

.contacts__item {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__email {
  @include link-reset;
  margin-left: auto;
  width: 185px;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    width: 177px;
    height: 1px;
    position: absolute;
    top: 27px;
    left: 2px;
    background-color: #62d1ba;
  }

  &:hover {
    color: $dark-green;

    &::after {
      background-color: $dark-green;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      opacity: 0.1;
      width: 90%;
    }
  }
}

.contacts__adress {
  margin-left: auto;
  width: 185px;
  text-align: left;
}

.contacts__map {
  position: absolute;
  bottom: 130px;
  left: 0;
  width: 320px;
  height: 457px;
  background-repeat: no-repeat;
}

.contacts__write-us-btn {
  @include user-btn;
  padding-left: 51px;
  padding-right: 51px;

  &:hover {
    padding-left: 53px;
    padding-right: 53px;
  }
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
    padding: 0;
    padding-top: 56px;

    &::before {
      position: absolute;
      right: 53px;
      top: 41px;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__container {
    @include tablet-padding;
    width: 668px;
  }

  .contacts__map iframe {
    width: 768px;
    height: 457px;
  }

  .contacts__header {
    margin-bottom: 50px;
    margin-left: 0;
    padding-left: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__map {
    bottom: 107px;
    width: 768px;
    height: 457px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
  }

  .contacts__img {
    width: 768px;
    height: 457px;
  }

  .contacts__write-us-btn {
    width: 230px;
    padding-left: 40px;
    padding-right: 35px;
    margin: 0 auto;
    margin-bottom: 57px;

    &:hover {
      padding-left: 42px;
      padding-right: 37px;
    }
  }

  .contacts__wrapper {
    width: 668px;
    display: flex;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 537px;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__email {
    margin-left: 25px;
  }

  .contacts__adress {
    width: 225px;
    margin-left: 25px;
  }
}


@media (min-width: 1150px) {
  .contacts {
    display: flex;
    width: 879px;
    padding-left: 222px;
    padding-top: 65px;
    padding-bottom: 107px;

    &::before {
      left: 113px;
      top: 130px;
    }
  }

  .contacts__map iframe {
    width: 525px;
    height: 457px;
  }

  .contacts__map {
    position: relative;
    margin-left: auto;
    top: 0;
    bottom: 130px;
    width: 525px;
    height: 457px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  .contacts__img {
    width: 525px;
    height: 457px;
  }

  .contacts__wrapper {
    padding: 0;
    margin-bottom: 50px;
    width: 354px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__header {
    margin-bottom: 47px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__item {
    width: 354px;
  }

  .contacts__container {
    margin: 0;
    padding: 0;
    padding-top: 75px;
    width: 354px;
  }

  .contacts__write-us-btn {
    margin: 0;
    width: 230px;
  }
}
