.form-main {
  display: block;
}

.form-main__header {
  @include main-padding;
  width: 100%;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 76px;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.form-main__description {
  @include main-padding;
  width: 100%;
  box-sizing: border-box;
  padding-top: 21px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: 768px) {
  .form-main {
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    margin-top: -70px;
  }

  .form-main__wrapper {
    width: 768px;
  }

  .form-main__header {
    @include zigzag-fill;
    @include tablet-padding;
    position: relative;
    width: 768px;
    padding-top: 95px;
    margin-bottom: 45px;
    padding-bottom: 90px;
    font-size: 43px;
    line-height: 50px;
  }

  .form-main__description {
    @include tablet-padding;
    margin: 0 auto;
    width: 768px;
    padding-top: 20px;
    font-size: 17px;
    line-height: 30px;
  }
}


@media (min-width: 1150px) {
  .form-main {
    margin-top: -42px;
  }

  .form-main__description {
    padding: 0;
    padding-top: 15px;
    width: 700px;
  }

  .form-main__header {
    @include tablet-padding;
    margin-bottom: 90px;
    width: 100%;
    padding-bottom: 120px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      bottom: 0;
      height: 34px;
      background-position-x: 0;
    }
  }
}
