.page-header {
  position: relative;
  z-index: 2;
  font-size: 17px;
  font-weight: bold;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__top-wrap {
  @include main-padding;
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  align-items: center;
}

.page-header__offers-list,
.page-header__user-menu {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  order: 1;
}

.page-header__open-menu-btn {
  width: 20px;
  height: 14px;
  margin-left: auto;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-image: url("../img/icon-menu-open.svg");

  &--nojs {
    display: none;
  }

  &--close {
    width: 21px;
    height: 20px;
    background-image: url("../img/icon-menu-close.svg");
  }
}


.page-header__logo {
  @include link-reset;
  display: block;
  box-sizing: border-box;
  width: 86px;
  height: 35px;
  margin-left: 85px;
  font-size: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .page-header__wrapper {
    @include tablet-padding;
    box-sizing: border-box;
    position: relative;
    width: 768px;
    margin: 0 auto;
  }

  .page-header__container {
    width: 668px;
    position: relative;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-header__top-wrap {
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 0;
    margin-right: 177px;
  }

  .page-header__logo {
    margin: 0;
    width: 113px;
    height: 46px;
  }

  .page-header__logo img {
    width: 113px;
    height: 46px;
  }

  .page-header__open-menu-btn {
    display: none;
  }

  .page-header__menu {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header {
    margin-bottom: -43px;
  }
}


@media (min-width: 1150px) {
  .page-header__wrapper {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
  }

  .page-header__container {
    width: 1050px;
    margin: 0 auto;
    display: flex;
  }

  .page-header__logo {
    order: 1;
    width: 149px;
    height: 72px;
  }

  .page-header__logo img {
    width: 149px;
    height: 72px;
  }


  .page-header__top-wrap {
    order: 2;
    padding: 0;
    margin-left: 70px;
    margin-right: 103px;
  }

  .page-header {
    margin-bottom: -42px;
  }

  .page-header__offers-list,
  .page-header__user-menu {
    order: 3;
  }
}
