.page-header {
  position: relative;
  z-index: 2;
  font-size: 17px;
  font-weight: bold;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__top-wrap {
  @include main-padding;
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  align-items: center;
}

.page-header__open-menu-btn {
  width: 20px;
  height: 14px;
  margin-left: auto;
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-image: url("../img/icon-menu-open.svg");

  &--nojs {
    width: 21px;
    height: 20px;
    background-image: url("../img/icon-menu-close.svg");
  }

  &--close {
    width: 21px;
    height: 20px;
    background-image: url("../img/icon-menu-close.svg");
  }
}


.page-header__container {
  &--closed {
    display: none;
  }

  &--open {
    display: block;
  }

  &--nojs {
    display: block;
  }
}

.page-header__logo {
  @include link-reset;
  display: block;
  box-sizing: border-box;
  width: 86px;
  height: 35px;
  margin-left: 85px;
  font-size: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.page-header__basket {
  @include link-reset;
  @include link-text;
  position: relative;
  display: block;
  width: 320px;
  box-sizing: border-box;
  padding-top: 27px;
  padding-left: 75px;
  padding-right: 50px;
  padding-bottom: 27px;

  &:hover,
  &:focus {
    .page-header__basket-img {
      opacity: 1;
    }

    & svg {
      fill: $light-green;
    }
  }

  &:active {
    .page-header__basket-img {
      opacity: 0.3;
    }
  }
}

.page-header__basket-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  opacity: 0.2;
}

.page-header__new,
.page-header__sale {
  @include link-text;
}

.page-header__delivery,
.page-header__sale,
.page-header__new {
  display: none;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    @include tablet-padding;
    box-sizing: border-box;
    position: relative;
    width: 768px;
    margin: 0 auto;
  }

  .page-header__container {
    width: 668px;
    position: relative;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .page-header__top-wrap {
    position: absolute;
    z-index: 20;
    padding-top: 22px;
    padding-left: 0;
    left: 50px;
  }

  .page-header__logo {
    margin: 0;
    width: 113px;
    height: 46px;
  }


  .page-header__logo img {
    width: 113px;
    height: 46px;
  }

  .page-header__open-menu-btn {
    display: none;
  }

  .page-header__menu {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__basket {
    padding: 0;
    box-sizing: border-box;
    width: 266px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 84px;
  }

  .page-header__delivery {
    display: block;
    align-self: flex-start;
    order: 3;
    width: 235px;
    margin: 0;
    padding: 0;
    padding-top: 18px;
    margin-left: auto;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #444444;
    text-align: right;
  }
}


@media (min-width: 1150px) {
  .page-header__wrapper {
    width: 1250px;
    margin: 0 auto;
    display: flex;
  }

  .page-header__container {
    width: 1050px;
    margin: 0 auto;
    display: flex;
  }

  .page-header__logo {
    order: 1;
    width: 149px;
    height: 72px;
  }

  .page-header__logo img {
    width: 149px;
    height: 72px;
  }

  .page-header__basket {
    padding-top: 30px;
    order: 3;
  }

  .page-header__sale,
  .page-header__new {
    @include link-reset;
    display: inline;
    width: 180px;
    padding: 0;
    margin: 0;
    margin-right: 40px;
    margin-top: 18px;
    order: 3;
    font-size: 15px;
  }

  .page-header__top-wrap {
    padding: 0;
    left: 550px;
    top: 9px;
  }
}
