.items__list {
  @include list-reset;
  font-size: 19px;
}

.items__item {
  width: 100%;
}

.items__link-btn {
  @include main-padding;
  @include link-reset;
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-right: 160px;
  color: #ffffff;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    transform: translate(0, -5px);

    &::before {
      opacity: 0.7;
      top: 25px;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    &::before {
      opacity: 0.3;
    }
  }

  &--interior {
    background-color: $light-green;

    &:hover {
      background-color: #59d5bc;
    }

    &::before {
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover {
      background-color: $dark-green;
    }

    &::before {
      width: 60px;
      height: 60px;
      right: 27px;
      background-image: url("../img/icon-toy.svg");
    }
  }
}

@media (min-width: 768px) {
  .items__list {
    display: flex;
    flex-wrap: wrap;
  }

  .items__item {
    width: 50%;
  }

  .items__link-btn {
    padding-top: 28px;
    font-size: 20px;
    line-height: 30px;
    padding-right: 189px;
    padding-left: 35px;

    &::before {
      top: 30px;
    }

    &--toys {
      &::before {
        right: 35px;
      }
    }
  }
}

@media (min-width: 1150px) {
  .items__list {
    width: 1050px;
    margin: 0 auto;
  }

  .items__item {
    width: 50%;
  }

  .items__link-btn {
    padding-top: 28px;
    padding-right: 370px;
  }
}
