.navigation-list {
  @include list-reset;
  box-sizing: border-box;
  width: 320px;
  border-top: 1px solid #ececec;
}

.navigation-list__link {
  @include link-reset;
  @include link-text;
}

.navigation-list__item {
  @include main-padding;
  box-sizing: border-box;
  width: 320px;
  padding-top: 27px;
  padding-left: 75px;
  padding-right: 50px;
  padding-bottom: 27px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .navigation-list {
    display: flex;
    width: auto;
    border: none;
    font-size: 15px;
  }

  .navigation-list__item {
    padding-left: 0;
    padding-top: 18px;
    width: 167px;
    border: none;
    padding-right: 0;
  }
}


@media (min-width: 1150px) {
  .navigation-list {
    font-size: 17px;
  }

  .navigation-list__item {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 33px;
    width: 184px;
    border: none;

    &--form {
      padding-left: 35px;
      width: 195px;
      border-left: 1px solid rgba(68, 68, 68, 0.1);
    }
  }
}
