.social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
  padding-top: 25px;
  padding-bottom: 11px;
  padding-left: 57px;
  padding-right: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.social-list__link {

  &:hover,
  &:focus {
    & svg {
      fill: $dark-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .social-list {
    width: 145px;
    padding: 0;
    padding-top: 17px;
    margin-left: 158px;
    border: none;
  }
}

@media (min-width: 1150px) {
  .social-list {
    align-items: flex-end;
    padding: 0;
    margin: 0;
    margin-left: 350px;
  }
}
