.week-item {
  @include main-padding;
  @include zigzag-line;
  position: relative;
  padding-bottom: 40px;
}

.week-item__name {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.week-item__header {
  margin: 0;
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $light-green;
  text-transform: uppercase;
}

.week-item__description {
  width: 260px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 17px;
  font-style: normal;
}

.week-item__table {
  width: 100%;
  margin: 0;
  margin-bottom: 365px;
  padding: 0;
  border-collapse: collapse;
  line-height: 20px;
}

.week-item__table-row {
  border-bottom: 1px solid #ececec;
}

.week-item__table-data {
  padding-top: 7px;
  padding-bottom: 12px;

  &--value {
    padding-left: 15px;
  }
}

.week-item__img {
  width: 260px;
  height: 315px;
  position: absolute;
  bottom: 165px;
}

.week-item__price {
  width: 130px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 27px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.week-item__btn {
  @include user-btn;
  padding-left: 83px;
  padding-right: 83px;

  &:hover {
    padding-left: 85px;
    padding-right: 85px;
  }
}

@media (min-width: 768px) {
  .week-item {
    @include tablet-padding;
    padding-bottom: 70px;
  }

  .week-item__btn {
    width: 292px;
    padding-left: 100px;
    padding-right: 100px;

    &:hover {
      padding-left: 102px;
      padding-right: 102px;
    }
  }

  .week-item__header {
    width: 80px;
    padding-top: 43px;
    padding-right: 20px;
    margin-left: auto;
    text-align: center;
    line-height: 17px;
  }

  .week-item__name {
    padding-top: 38px;
    font-size: 43px;
    line-height: 50px;
  }

  .week-item__head-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 44px;
  }

  .week-item__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .week-item__img {
    position: static;
    width: 333px;
    height: 404px;
    margin-left: auto;
    margin-top: 5px;
  }

  .week-item picture {
    margin-left: auto;
  }

  .week-item__price {
    width: 150px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 34px;
    margin-left: 68px;
  }

  .week-item__container {
    padding-top: 0;
  }

  .week-item__table {
    width: 290px;
    margin-bottom: 57px;
  }

  .week-item__description {
    width: 290px;
    padding-top: 0;
    padding-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-item__table-data {
    padding-top: 9px;
    padding-bottom: 10px;

    &--value {
      padding-left: 0;
    }
  }
}

@media (min-width: 1150px) {
  .week-item__wrap {
    padding-top: 69px;
    padding-right: 50px;
  }

  .week-item {
    padding-left: 0;
    padding-right: 0;
    margin-left: 50px;
    padding-bottom: 91px;
  }

  .week-item__img {
    position: static;
    width: 525px;
    height: 636px;
    margin-left: auto;
  }

  .week-item__head-container {
    position: absolute;
    width: 700px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    top: 90px;
  }

  .week-item__table {
    margin: 0;
    width: 290px;
  }

  .week-item__container {
    padding-top: 55px;
    padding-left: 172px;
  }

  .week-item picture {
    width: 525px;
  }

  .week-item__description {
    width: 290px;
    padding-top: 105px;
    padding-bottom: 50px;
  }

  .week-item__name {
    font-size: 53px;
    line-height: 57px;
    padding-top: 35px;
  }

  .week-item__header {
    margin-left: 40px;
    padding-right: 50px;
  }

  .week-item__price {
    margin-top: 107px;
    margin-bottom: 35px;
    margin-left: 72px;
  }
}
