.about-us {
  @include main-padding;
  padding-top: 28px;
}

.about-us__header {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  @include list-reset;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.about-us__item {
  padding-top: 61px;
  padding-bottom: 22px;
  width: 180px;

  &--like,
  &--style,
  &--box {
    width: 200px;
  }

  &--love {
    width: 210px;
  }

  &--native {
    width: 255px;
  }
}
/*
@media (min-width: 768px) {
  .about-us {
    @include tablet-padding;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
  }

  .about-us__item {
    width: 50%;
  }
}

@media (min-width: 1150px) {
  .about-us {
    @include tablet-padding;
    padding-left: 225px;
  }

  .about-us__list {
    width: 700px;
  }
}
 */
