.catalog-main {
  display: block;
}

.catalog-main__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog-main__header {
  width: 260px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 30px;
  padding: 73px 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .catalog-main {
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    margin-top: -65px;
  }

  .catalog-main__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .catalog-main__header {
    @include tablet-padding;
    @include zigzag-fill;
    width: 668px;
    margin: 0;
    margin-bottom: 70px;
    padding-top: 95px;
    padding-bottom: 90px;
    font-size: 43px;
    line-height: 50px;
  }
}


@media (min-width: 1150px) {
  .catalog-main {
    margin-top: -47px;
  }

  .catalog-main__wrapper {
    @include tablet-padding;
    width: 1050px;
    margin: 0 auto;
  }

  .catalog-main__header {
    @include zigzag-fill-desktop;
    margin: 0;
    margin-bottom: 115px;
    margin-left: -50px;
    margin-right: -50px;
    padding-bottom: 120px;
    width: auto;
    font-size: 53px;
    line-height: 57px;
  }
}
