.catalog__list {
  @include list-reset;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog__item {
  padding-top: 30px;

  &:hover,
  &:focus {
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  }

  &--hare {
    padding-top: 0;
  }

  &--hare,
  &--bowl {
    border-bottom: none;
  }
}

.catalog__wrap {
  border: 1px solid #ededed;
}

.catalog__link {
  @include link-reset;
  display: block;

  &--fix-height {
    width: 260px;
    height: 195px;
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__item-title {
  padding: 0 28px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 17px;
}

.catalog__item-description {
  margin: 0 28px;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__item-price {
  display: flex;
  padding-top: 20px;
  padding-bottom: 28px;
  margin: 0 28px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  border-top: 1px solid #ededed;
}


.catalog__image {
  width: 260px;
  height: 195px;
}

.catalog__btn-basket {
  @include button-reset;
  width: 21px;
  height: 18px;
  padding: 0;
  opacity: 0.2;
  margin-left: auto;

  &:hover,
  &:focus {
    opacity: 1;

    & path {
      fill: #63d1bb;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

/*item
@media (min-width: 768px) {
  .catalog__list {
    @include tablet-padding;
    width: 668px;
  }

  .catalog__image {
    width: 334px;
    height: 334px;
  }

  .catalog__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 54px;
    border: none;
  }

  .catalog__item-title {
    width: 240px;
    padding-right: 10px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__wrap {
    width: 332px;
    border: 1px solid #ececec;
  }

  .catalog__item-price {
    margin-top: 153px;
    padding-left: 5px;
    padding-bottom: 25px;
    font-size: 17px;

    &--toys {
      margin-top: 129px;
    }
  }

  .catalog__item-description {
    font-size: 15px;
  }
}


@media (min-width: 1150px) {
  .catalog__list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    width: auto;
  }

  .catalog__item {
    align-content: flex-start;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__wrap {
    width: 314px;
  }

  .catalog__item-price {
    margin-top: 15px;
    padding-left: 0;


    &--toys {
      margin-top: 11px;
    }
  }

  .catalog__item-description {
    &--toys {
      padding-bottom: 0;
    }
  }
}
 */
