.catalog-main__wrapper {
  width: 320px;
  margin: 0 auto;
}

.catalog-main__header {
  width: 260px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 30px;
  padding: 73px 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}


@media (min-width: 768px) {
  .catalog-main {
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    margin-top: -20px;
  }

  .catalog-main__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .catalog-main__header {
    @include tablet-padding;
    width: 668px;
    margin: 0;
    padding-top: 100px;
    margin-bottom: 80px;
  }
}

@media (min-width: 1150px) {
  .catalog-main__wrapper {
    width: 1150px;
    margin: 0 auto;
  }

  .catalog-main__header {
    @include tablet-padding;
    width: 1050px;
    margin: 0;
    padding-top: 100px;
    margin-bottom: 130px;
  }
}
