.comments {
  @include main-padding;
  position: relative;
  padding-bottom: 46px;
  padding-top: 33px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.1);
  border-image-source: url("../img/bg-zigzag-line.svg");
  border-image-repeat: repeat;
  border-image-slice: 30;
}

.comments__header {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.comments__list {
  padding-top: 25px;
}

.comments__items {
  padding: 0;
  margin: 0;
  width: 260px;
}

.comments__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 30px;

  & br {
    display: none;
  }
}

.comments__author-link {
  @include link-reset;
  width: 125px;
  display: block;
  margin-top: 5px;
  font-size: 17px;
  line-height: 30px;
}

.comments__slider-toggles {
  display: flex;
  margin-top: 28px;
  margin-bottom: 40px;
}

.comments__button {
  @include button-reset;
  @include styleguide-btn;
  font-size: 0;
  border: 1px solid #ececec;
  width: 130px;
  height: 50px;
  background-color: transparent;
  background-position: 38px 12px;
  background-repeat: no-repeat;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
    border-right-width: 0;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.comments__write-btn {
  @include user-btn;
  padding-left: 79px;
  padding-right: 79px;

  &:hover {
    padding-left: 81px;
    padding-right: 81px;
  }
}

.comments__author-name {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: bold;
}

@media (min-width: 768px) {
  .comments {
    @include tablet-padding;
    padding-top: 76px;
    padding-bottom: 110px;
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/review@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px auto;
    border: none;

    &::after {
      content: "";
      height: 17px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("../img/bg-zigzag-line.svg");
      background-size: 768px 100%;
      background-position-x: 15px;
    }
  }

  .comments__header {
    width: 200px;
    order: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .comments__write-btn {
    width: 175px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: auto;
    order: 1;

    &:hover {
      padding-left: 41px;
      padding-right: 41px;
    }
  }

  .comments__list {
    width: 668px;
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }

  .comments__text {
    width: 668px;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 30px;

    & br {
      display: none;
    }
  }

  .comments__items {
    width: 668px;
  }

  .comments__author-name {
    font-size: 18px;
  }

  .comments__slider-toggles {
    width: 137px;
    padding-left: 20px;
    margin-right: 19px;
    margin-left: auto;
    margin-top: -40px;
  }

  .comments__button {
    border: none;
    width: 50px;
    height: 26px;
    background-position: 0 0;

    &--next {
      margin-left: auto;
    }
  }

  .comments__author-link {
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  .comments__header {
    width: 225px;
    font-size: 53px;
    line-height: 57px;
  }

  .comments {
    margin-left: 50px;
    width: 879px;
    padding-top: 70px;
    padding-left: 170px;
    padding-bottom: 160px;
    border: none;

    &::after {
      height: 23px;
      background-size: 1150px 100%;
    }
  }

  .comments__write-btn {
    align-self: flex-end;
    margin-top: 10px;
  }

  .comments__text {
    margin: 0;
    width: 775px;
    margin-bottom: 37px;

    & br {
      display: inline;
    }
  }

  .comments__list {
    width: 879px;
  }

  .comments__author-name {
    line-height: 30px;
    font-size: 17px;
  }


  .comments__slider-toggles {
    display: flex;
    margin-top: -45px;
    width: 135px;
  }

  .comments__items {
    padding-left: 5px;
    width: 879px;
  }
}
