.contacts {
  line-height: 30px;
  position: relative;
  padding-top: 35px;
  padding-bottom: 40px;
}

.contacts__header {
  @include main-padding;
  margin: 0;
  margin-bottom: 27px;
  font-size: 18px;
}

.contacts__wrapper {
  @include tablet-padding;
  margin-bottom: 530px;
}

.contacts__item {
  display: flex;
  margin: 0;
  margin-bottom: 32px;
}

.contacts__email {
  margin-left: auto;
}

.contacts__adress {
  margin-left: 35px;
  width: 150px;
  text-align: left;
}

.contacts__feeback {
  @include main-padding;
}

.contacts__map {
  position: absolute;
  bottom: 130px;
  width: 322px;
  height: 457px;
  background-image: url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
}

.contacts__write-us-btn {
  @include user-btn;
  padding: 14px 50px;

  &:hover,
  &:focus {
    border: none;
    padding: 16px 50px;
  }
}


@media (min-width: 768px) {
  .contacts__map {
    bottom: 130px;
    width: 768px;
    height: 457px;
    background-image: url(../img/map-tablet@1x.jpg);
    background-repeat: no-repeat;
  }
}

@media (min-width: 1150px) {

  .contacts {
    display: flex;
    padding-left: 225px;
  }

  .contacts__map {
    position: static;
    margin-left: auto;
    bottom: 130px;
    width: 525px;
    height: 457px;
    background-image: url(../img/map-desktop@1x.jpg);
    background-repeat: no-repeat;
  }

  .contacts__wrapper {
    padding: 0;
    padding-left: 175px;
    margin-bottom: 80px;
  }
}
