.copyright {
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.copyright__icon-path {
  fill: #63d1bb;
}

.copyright__link {
  @include link-reset;
  display: flex;
  width: 100%;
  font-size: 19px;
  justify-content: space-between;
  line-height: 18px;
  font-weight: bold;

  & span {
    align-self: center;
  }

  & svg {
    fill: #63d1bb;
  }

  &:hover,
  &:focus {
    & svg {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  width: 27px;
  height: 34px;
}

@media (min-width: 768px) {
  .copyright__text {
    font-size: 19px;
    line-height: 18px;
  }

  .copyright__icon {
    width: 27px;
    height: 34px;
  }

  .copyright__link {
    box-sizing: border-box;
  }

  .copyright {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    margin-left: auto;
  }
}

@media (min-width: 1150px) {
  .copyright {
    align-self: flex-start;
    padding-top: 5px;
  }
}
