.copyright {
  @include main-padding;
  padding-bottom: 20px;
}

.copyright__icon-path {
  fill: #63d1bb;
}

.copyright__link {
  font-size: 0;

  &:hover,
  &:focus {
    .copyright__icon-path {
      fill: #46c1ae;
    }
  }

  &:active {
    .copyright__icon-path {
      opacity: 0.3;
    }
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .copyright__text {
    font-size: 19px;
    line-height: 18px;
  }

  .copyright__icon {
    width: 27px;
    height: 34px;
  }

  .copyright__link {
    display: inline-block;
    box-sizing: border-box;
    width: 27px;
    height: 34px;
    background-color: rebeccapurple;
  }

  .copyright {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
  }
}

/*
@media (min-width: 768px) {

} */
