.form {
  @include main-padding;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  padding-top: 25px;
  border: none;

  &:last-child {
    padding-top: 50px;
  }

  &--contact {
    padding-top: 8px;
  }
}

.form__title {
  position: relative;
  margin-left: -2px;
  padding-right: 29px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #62d1ba;

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 62px;
    transform: translate(0, -50%);
    width: 197px;
    height: 1px;
    background-color: #62d1ba;
  }

  &--email {
    &::after {
      left: 81px;
      width: 179px;
    }
  }
}

.form__item {
  margin: 0;
  padding: 0;
}

.form__item-list {
  @include list-reset;
  width: 334px;
}

.form__label {
  position: relative;
  display: inline-block;
  width: 200px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &--checkbox {
    padding-left: 60px;
    padding-top: 10px;
    margin-bottom: 33px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
    }
  }

  &--patronymic-checkbox {
    margin-bottom: 18px;
  }

  &--radio {
    padding-left: 60px;
    padding-top: 10px;
    margin-bottom: 15px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border: 1px solid black;
      border-radius: 50%;
    }
  }
}

.form__radio {
  &:checked {
    & ~ .form__label {
      &--radio {
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 12px;
          left: 12px;
          box-sizing: border-box;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #62d1ba;
        }
      }
    }
  }
}

.form__checkbox {
  &:checked {
    & ~ .form__label {
      &--checkbox {
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          left: 12px;
          box-sizing: border-box;
          width: 16px;
          height: 10px;
          border-bottom: 4px solid black;
          border-left: 4px solid black;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.form__text-input {
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 18px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 17px;
  line-height: 18px;

  &--patronymic {
    margin-bottom: 5px;
  }

  &--contact {
    margin-bottom: 7px;
  }
}


.form__textarea {
  width: 185px;
  height: 105px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 56px;
  margin-bottom: 5px;
  border: 2px solid black;
  font-size: 17px;
  line-height: 18px;
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.form__submit-btn {
  @include button-reset;
  width: 260px;
  padding: 16px 44px;
  margin-top: 30px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  border: 2px solid #444444;
}

@media (min-width: 768px) {
  .form {
    padding: 0;
  }

  .form__fieldset {
    @include tablet-padding;
    margin: 0;
    padding-top: 55px;
    width: 500px;
    padding-bottom: 32px;

    &:nth-child(2) {
      padding-top: 50px;
      padding-bottom: 26px;
    }

    &:nth-child(3) {
      padding-top: 50px;
      padding-bottom: 26px;
    }

    &--gray {
      background-color: #f1f1f1;
    }

    &--contact {
      padding-bottom: 10px;
    }

    &--email {
      padding-top: 15px;
      padding-bottom: 50px;
    }
  }

  .form__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
  }

  .form__item {
    width: 334px;
    padding: 0;
    margin: 0;

    &--checkbox {
      width: 230px;

      &:nth-child(2n) {
        margin-left: 30px;
      }
    }

    &--name,
    &--surname,
    &--patronymic {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .form__legend {
    width: 167px;
    margin: 0;
    padding: 0;
  }

  .form__item-list {
    width: 501px;
    margin-left: auto;

    &--checkbox {
      width: 501px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__textarea {
    width: 426px;
  }

  .form__footnote {
    order: 5;
    margin-top: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__title {
    margin-top: 17px;

    &::after {
      content: none;
    }
  }

  .form__label {
    width: 334px;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 19px;
    margin-bottom: 22px;
    font-size: 19px;

    &--name,
    &--surname,
    &--patronymic {
      padding-left: 0;
    }

    &--name {
      width: 55px;
    }

    &--surname,
    &--patronymic {
      width: 100px;
    }

    &--radio {
      &::before {
        width: 52px;
        height: 52px;
      }
    }

    &--checkbox {
      margin-bottom: 24px;
      width: 120px;

      &::before {
        width: 54px;
        height: 52px;
      }
    }
  }

  .form__radio {
    &:checked {
      & ~ .form__label {
        &--radio {
          &::after {
            left: 15px;
            top: 15px;
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }

  .form__text-input {
    box-sizing: border-box;
    margin: 0;
    height: 51px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 17px;
    font-size: 19px;

    &--patronymic,
    &--surname {
      width: 375px;
    }

    &--name {
      width: 430px;
    }

    &--contact {
      width: 501px;
    }
  }

  .form__submit-btn {
    width: 230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
  }
}

@media (min-width: 1150px) {
  .form__item-list {
    margin-left: 40px;

    &--checkbox {
      width: 750px;
    }
  }

  .form__wrap {
    width: auto;
    justify-content: flex-start;
    padding-left: 64px;
    padding-right: 175px;

    &--checkbox {
      padding-right: 120px;
    }
  }

  .form__fieldset {
    @include tablet-padding;
    width: 1050px;

    &:last-child {
      padding-top: 43px;
      padding-bottom: 50px;
    }
  }

  .form__item {
    width: 334px;
    padding: 0;
    margin: 0;

    &--checkbox {
      width: 175px;
      margin-right: 90px;

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &--name,
    &--surname,
    &--patronymic {
      width: 700px;
    }
  }

  .form__text-input {
    background-color: transparent;

    &--name {
      width: 627px;
    }

    &--surname,
    &--patronymic {
      width: 572px;
    }

    &--contact {
      width: 700px;
      margin-left: 50px;
    }

    &--email {
      margin-left: 26px;
    }
  }

  .form__label {
    &--name,
    &--surname,
    &--patronymic {
      margin-bottom: 25px;
    }
  }

  .form__textarea {
    width: 699px;
    height: 143px;
    box-sizing: border-box;
    margin-left: 40px;
  }


  .form__submit-btn {
    margin-left: 110px;
    margin-top: 40px;
  }


  .form__footnote {
    margin-left: auto;
  }
}
