.form-main {
  display: block;
}

.form-main__wrapper {
  width: 320px;
  margin: 0 auto;
}

.form-main__header {
  width: 260px;
  padding: 73px 30px;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.form-main__description {
  @include main-padding;
  width: 260px;
  padding-top: 25px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: 768px) {
  .form-main {
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    margin-top: -70px;
  }

  .form-main__wrapper {
    width: 768px;
  }

  .form-main__header {
    @include zigzag-fill;
    @include tablet-padding;
    position: relative;
    width: 668px;
    padding-top: 95px;
    margin-bottom: 45px;
    padding-bottom: 90px;
    font-size: 43px;
    line-height: 50px;
  }

  .form-main__description {
    @include tablet-padding;
    width: 668px;
    margin: 0;
    padding-top: 20px;
    font-size: 17px;
    line-height: 30px;
  }
}


@media (min-width: 1150px) {
  .form-main {
    margin-top: -47px;
  }

  .form-main__wrapper {
    width: 1150px;
  }

  .form-main__description {
    width: 700px;
    padding-left: 225px;
  }

  .form-main__header {
    @include tablet-padding;
    @include zigzag-fill-desktop;
    margin-bottom: 90px;
    width: 1050px;
    padding-bottom: 120px;
    font-size: 53px;
    line-height: 57px;
  }
}
