.form-main__wrapper {
  width: 320px;
  margin: 0 auto;
}

.form-main__header {
  width: 260px;
  padding: 73px 30px;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.form-main__description {
  @include main-padding;
  padding-top: 10px;
  margin-bottom: 15px;
  width: 260px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: 768px) {
  .form-main {
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    margin-top: -20px;
  }

  .form-main__wrapper {
    width: 768px;
  }

  .form-main__header {
    @include tablet-padding;
    width: 668px;
    padding-top: 70px;
    margin-bottom: 60px;
    font-size: 43px;
    line-height: 50px;
  }

  .form-main__description {
    @include tablet-padding;
    width: 668px;
    margin: 0;
    padding-top: 20px;
    font-size: 17px;
    line-height: 30px;
  }
}

/*
@media (min-width: 1150px) {
  .form-main__wrapper {
    width: 1150px;
  }

  .form-main__header {
    @include tablet-padding;
    width: 1050px;
    font-size: 53px;
    line-height: 57px;
  }
}
 */
