.page-header {
  font-size: 17px;
  font-weight: bold;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__container {
  @include main-padding;
  padding-top: 20px;
}

.page-header__open-menu-btn {
  border: none;
  width: 20px;
  margin-left: auto;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  background-color: transparent;
  font-size: 0;
  cursor: pointer;
}

.page-header__logo {
  @include link-reset;
  display: block;
  box-sizing: border-box;
  width: 86px;
  height: 35px;
  margin-left: 85px;
  font-size: 0;
  background-image: url("../img/logo-mobile.svg");

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.page-header__basket {
  @include link-reset;
  display: block;
  width: auto;
  box-sizing: border-box;
  width: 320px;
  padding-top: 27px;
  padding-left: 75px;
  padding-right: 50px;
  padding-bottom: 27px;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.page-header__delivery,
.page-header__sale,
.page-header__new {
  display: none;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    width: 768px;
    margin: 0 auto;
    display: flex;
  }

  .page-header__container {
    @include tablet-padding;
    position: relative;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      left: 50px;
      top: 87px;
      height: 1px;
      width: 100%;
      background-color: black;
    }
  }

  .page-header__logo {
    margin: 0;
    width: 113px;
    height: 46px;
    background-image: url("../img/logo-tablet.svg");
    margin-right: 210px;
  }

  .page-header__open-menu-btn {
    display: none;
  }

  .page-header__menu {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__basket {
    padding-right: 0;
    width: 264px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .page-header__delivery {
    display: block;
    order: 3;
    width: 235px;
    margin: 0;
    margin-left: auto;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: #444444;
  }
}

@media (min-width: 1150px) {
  .page-header__wrapper {
    width: 1150px;
    margin: 0 auto;
    display: flex;
  }

  .page-header__logo {
    order: 1;
    width: 149px;
    height: 72px;
    background-image: url("../img/logo-desktop.svg")
  }

  .page-header__basket {
    order: 3;
  }

  .page-header__sale,
  .page-header__new {
    display: block;
    order: 3;
  }
}
