.page-header {
  font-size: 17px;
  font-weight: bold;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-header__container {
  @include main-padding;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__open-menu-btn {
  border: none;
  width: 20px;
  margin-left: auto;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  font-size: 0;
  cursor: pointer;
}

.page-header__basket {
  box-sizing: border-box;
  width: 320px;
  padding-top: 27px;
  padding-left: 75px;
  padding-right: 50px;
  padding-bottom: 27px;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  @include link-reset;
  display: block;
  width: 86px;
  height: 35px;
  margin-left: 85px;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.page-header__basket-link {
  @include link-reset;
  display: block;
  width: auto;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}
/*
.page-header__menu {
  display: none;
}
 */
