$btn-height: 108px;
$btn-tablet-height: 120px;
$btn-padding-top: 30px;


.items__list {
  @include list-reset;
  font-size: 19px;
}

.items__item {
  width: 100%;
}

.items__link-btn {
  @include main-padding;
  @include link-reset;
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 130px;
  color: #ffffff;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 36px;
    width: 40px;
    height: 62px;
    opacity: 0.5;
  }

  &:hover {
    height: $btn-height+5px;

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    &::before {
      opacity: 0.3;
    }
  }

  &--interior {
    background-color: #63d1bb;

    &:hover {
      background-color: #59d5bc;
    }

    &::before {
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }

    &::before {
      width: 60px;
      height: 60px;
      right: 27px;
      background-image: url("../img/icon-toy.svg");
    }
  }
}

@media (min-width: 768px) {
  .items__list {
    display: flex;
    flex-wrap: wrap;
  }

  .items__item {
    width: 50%;
  }

  .items__link-btn {
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
    padding-right: 189px;
    padding-left: 35px;

    &:hover {
      height: $btn-tablet-height+5px;
    }
  }
}


@media (min-width: 1150px) {
  .items__list {
    width: 1050px;
  }

  .items__item {
    width: 50%;
  }

  .items__link-btn {
    padding-right: 370px;
  }
}
