$btn-height: 108px;
$btn-tablet-height: 120px;
$btn-padding-top: 30px;


.items__list {
  @include list-reset;
  font-size: 19px;
}

.items__item {
  @include main-padding;
  width: 260px;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &:hover {
    height: $btn-height+5px;
  }
}

.items__link-btn {
  @include link-reset;
  display: block;
  width: 130px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 130px;
  color: #ffffff;
  font-weight: bold;

  &:hover {
    padding-top: $btn-padding-top - 5px;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .items__list {
    display: flex;
    flex-wrap: wrap;
  }


  .items__item {
    width: 110px;
    padding-right: 189px;
    padding-left: 35px;

    &:hover {
      height: $btn-tablet-height+5px;
    }
  }

  .items__link-btn {
    padding-right: 0;
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

/*
@media (min-width: 1150px) {
  .items__link-btn {
    padding-right: 370px;
  }
}
 */
