.manufacturing {
  position: relative;
  @include main-padding;
  margin-top: 30px;
  padding-bottom: 30px;
}

.manufacturing__wrap {
  border: 1px solid #ececec;
}

.manufacturing__header {
  margin: 0;
  padding: 0;
  margin-left: 28px;
  margin-top: 25px;
  margin-bottom: 210px;
  padding-left: 60px;
  font-size: 17px;
}

.manufacturing__video {
  position: absolute;
  top: 95px;
}

.manufacturing__play-btn {
  @include button-reset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.manufacturing__description {
  width: 185px;
  margin: 0;
  margin-left: 32px;
  margin-top: 20px;
  font-size: 13px;
}

.manufacturing__order-btn {
  @include link-reset;
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  box-sizing: border-box;
  width: 192px;
  padding: 16px 23px;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .manufacturing__image {
    width: 668px;
    height: 455px;
  }

  .manufacturing__wrap {
    border: 1px solid #ececec;
    padding-bottom: 45px;
    margin-bottom: 35px;
  }

  .manufacturing__video {
    position: relative;
    top: 0;
    order: 0;
    width: 668px;
    height: 455px;
  }

  .manufacturing__description {
    order: 1;
    margin: 0;
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 125px;
    padding-top: 10px;
    width: 585px;
    font-size: 15px;
    line-height: 30px;
  }

  .manufacturing__header {
    order: 1;
    margin-left: 0;
    margin-top: 35px;
    padding-left: 105px;
    font-size: 20px;
  }

  .manufacturing__order-btn {
    width: auto;
    margin: 0 40px;
    padding-left: 220px;
    order: 1;
  }

  .manufacturing {
    @include tablet-padding;
    display: flex;
    flex-direction: column;
  }
}


@media (min-width: 1150px) {
  .manufacturing {
    width: 1048px;
    padding: 0;
    margin-top: 55px;
    padding-bottom: 100px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid #ececec;
  }

  .manufacturing__order-btn {
    width: 220px;
    padding-left: 20px;
  }

  .manufacturing__description {
    order: 1;
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
    width: 225px;
    font-size: 15px;
    line-height: 30px;
  }


  .manufacturing__video {
    width: 682px;
    height: 455px;
    background-color: red;
  }


  .manufacturing__wrap {
    width: 366px;
    box-sizing: border-box;
    padding-left: 80px;
    border: 0;
    margin: 0;
  }

  .manufacturing__header {
    width: 150px;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .manufacturing__order-btn {
    width: 230px;
    padding-left: 42px;
    padding-right: 42px;
    margin: 0
  }
}
