.navigation-list {
  @include list-reset;
  box-sizing: border-box;
  width: 320px;
  border-top: 1px solid #ececec;
}

.navigation-list__link {
  @include link-reset;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.navigation-list__item {
  @include main-padding;
  box-sizing: border-box;
  width: 320px;
  padding-top: 27px;
  padding-left: 75px;
  padding-right: 50px;
  padding-bottom: 27px;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .navigation-list {
    display: flex;
    width: auto;
    border: none;
    font-size: 15px;
  }

  .navigation-list__item {
    padding-left: 0;
    padding-top: 18px;
    width: 167px;
    border: none;
    padding-right: 0;
  }
}

/*
@media (min-width: 768px) {
  .navigation-list {
    font-size: 17px;
  }
}
 */
