.page-main {
  display: block;
}

.page-main__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-main__head-block {
  padding-top: 70px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
}

.page-main__header {
  @include main-padding;
  margin: 0;
  padding: 0;
  margin-bottom: 121px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

/*
@media (min-width: 768px) {
  .page-main {
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    margin-top: -20px;
  }

  .page-main__wrapper {
    width: 768px;
  }

  .page-main__head-block {
    background-image: url("../img/hero-desktop@1x.jpg");
    padding-top: 160px;
  }

  .page-main__header {
    @include tablet-padding;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .page-main__wrapper {
    width: 1150px;
  }

  .page-main__header {
    width: 610px;
    font-size: 53px;
    line-height: 57px;
  }
}
 */
