.page-footer {
  display: block;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    @include tablet-padding;
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
