.page-footer {
  display: block;
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__wrapper {
  @include main-padding;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .page-footer {
    padding-top: 40px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__wrapper {
    @include tablet-padding;
    box-sizing: border-box;
    width: 768px;
    display: flex;
    align-items: center;
  }
}


@media (min-width: 1150px) {
  .page-footer {
    padding-top: 50px;
  }

  .page-footer__wrapper {
    box-sizing: border-box;
    width: 1150px;
    padding-bottom: 55px;
    justify-content: space-between;
    align-items: baseline;
  }

  .page-footer__logo {

    &:hover,
    &:focus {
      & path {
        fill: #46c1ae;
      }
    }

    &:active {
      & path {
        opacity: 0.3;
      }
    }
  }
}
