.page-main {
  display: block;
}

.page-main__wrapper {
  width: 320px;
  margin: 0 auto;
}

.page-main__head-block {
  padding-top: 70px;
  background-image: url("../img/hero-mobile@1x.jpg");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  background-size: 1150px auto;
  background-color: #d7e9e7;
  background-position: center 0;
  background-repeat: no-repeat;
}

.page-main__header {
  @include main-padding;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 121px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .page-main {
    border-top: 1px solid rgba(68, 68, 68, 0.1);
    margin-top: -69px;
  }

  .page-main__wrapper {
    width: 768px;
  }

  .page-main__head-block {
    @include tablet-padding;
    @include zigzag-fill;
    padding-top: 155px;
    padding-bottom: 10px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .page-main__header {
    width: 668px;
    padding: 0;
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1150px) {
  .page-main {
    margin-top: -47px;
  }

  .page-main__wrapper {
    width: 1150px;
  }

  .page-main__header {
    margin: 0 auto;
    margin-bottom: 360px;
    width: 650px;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__head-block {
    &::after {
      width: 100%;
      background-size: contain 100%;
    }

    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
