.search-form {
  width: auto;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 95px;
  border-bottom: 1px solid #ececec;
}

.search-form__search {
  padding-top: 27px;
  padding-bottom: 27px;
  width: auto;
  height: 78px;
  border: none;
  font: inherit;
}
