.social-list {
  @include list-reset;
  display: flex;
  font-size: 0;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 30px;
  padding-right: 30px;
}

.social-list__link {
  &:hover,
  &:focus {
    .social-list__icon-path {
      fill: #46c1ae;
    }
  }

  &:active {
    .social-list__icon-path {
      opacity: 0.3;
    }
  }
}
