.social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
  font-size: 0;
  padding-top: 28px;
  padding-bottom: 11px;
  padding-left: 57px;
  padding-right: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.social-list__link {
  display: inline-block;

  &:hover,
  &:focus {
    & svg {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .social-list {
    width: 145px;
    padding: 0;
    padding-top: 20px;
    margin-left: 158px;
    border: none;
  }
}

@media (min-width: 1150px) {
  .social-list {
    padding: 0;
    margin: 0;
    margin-left: 350px;
  }
}
