@import "normalize.scss";
@import "fonts.scss";
@import "global.scss";
@import "mixin.scss";
@import "variables.scss";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main-nav.scss";
@import "../sass/blocks/navigation-list.scss";
@import "../sass/blocks/search-form.scss";
@import "../sass/blocks/page-main.scss";
@import "../sass/blocks/items.scss";
@import "../sass/blocks/week-item.scss";
@import "../sass/blocks/about-us.scss";
@import "../sass/blocks/user-menu.scss";
@import "../sass/blocks/offers-list.scss";
@import "../sass/blocks/comments.scss";
@import "../sass/blocks/contacts.scss";
@import "../sass/blocks/page-footer.scss";
@import "../sass/blocks/social-list.scss";
@import "../sass/blocks/copyright.scss";
@import "../sass/blocks/modal-window.scss";
@import "../sass/blocks/catalog-main.scss";
@import "../sass/blocks/catalog.scss";
@import "../sass/blocks/manufacturing.scss";
@import "../sass/blocks/form-main.scss";
@import "../sass/blocks/form.scss";
