@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff");
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2");
  font-weight: 800;
  font-style: bold;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: "OpenSans", "Arial", sans-serif;
  background-color: #ffffff;
  font-size: 15px;
  line-height: 24px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

@import "mixin.scss";
@import "header.scss";
@import "main-nav.scss";
@import "navigation-list.scss";
@import "search-form.scss";
@import "page-main.scss";
@import "items.scss";
@import "week-item.scss";
@import "about-us.scss";
@import "comments.scss";
@import "contacts.scss";
@import "page-footer.scss";
@import "social-list.scss";
@import "copyright.scss";
@import "modal-window.scss";
@import "catalog-main.scss";
@import "catalog.scss";
@import "manufacturing.scss";
@import "form-main.scss";
@import "form.scss";
