.week-item {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 36px;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 320px;
    height: 6px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-size: cover;
  }
}

.week-item__name {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.week-item__header {
  margin: 0;
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-item__description {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 17px;
  font-style: normal;
}

.week-item__table {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  border-collapse: collapse;
}

.week-item__table-row {
  border-bottom: 1px solid #ececec;
}

.week-item__table-data {
  padding-top: 7px;
  padding-bottom: 7px;
}

.week-item__price {
  text-align: center;
  margin-bottom: 27px;
  font-size: 17px;
  font-weight: bold;
}

.week-item__btn {
  @include link-reset;
  display: block;
  padding: 14px 83px;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
