.week-item {
  @include bottom-line;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.week-item__name {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.week-item__header {
  margin: 0;
  padding-bottom: 5px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-item__description {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-top: 17px;
  font-style: normal;
}

.week-item__table {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  border-collapse: collapse;
  line-height: 20px;
}

.week-item__table-row {
  border-bottom: 1px solid #ececec;
}

.week-item__table-data {
  padding-top: 7px;
  padding-bottom: 12px;

  &--value {
    padding-left: 15px;
  }
}

.week-item__price {
  text-align: center;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 27px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.week-item__btn {
  @include user-btn;
}

@media (min-width: 768px) {
  .week-item__head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .week-item__img {
    width: 333px;
    height: 404px;
    margin-left: auto;
  }

  .week-item__container {
    padding-top: 55px;
    height: 404px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .week-item__table {
    width: 290px;
  }

  .week-item__description {
    width: 290px;
  }
}

@media (min-width: 1150px) {
  .week-item__head-container {
    position: relative;
    width: 700px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    z-index: 20;
  }

  .week-item__img {
    width: 333px;
    height: 404px;
    margin-left: auto;
  }

  .week-item__container {
    padding-top: 55px;
    height: 636px;
  }

  .week-item__table {
    width: 290px;
  }

  .week-item__description {
    width: 290px;
    padding-top: 160px;
  }
}
